.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container-div {
  padding: 20px;
  width: 400px;
  display: flex;
  flex-direction: column;
}

.add-btn {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

form {
  width: 350px;
  border: 1px solid #ccc;
  padding: 20px;
  position: absolute;
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  background: white;
}

form div {
  margin-bottom: 10px;
}

label {
  font-weight: bold;
}

input[type="text"],
[type="email"],
[type="number"] {
  width: calc(100% - 20px); /* Subtract padding */
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.outcome {
  margin-top: 30px;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  width: 100%;
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

td {
  width: 100%;
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  text-wrap: nowrap;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

button {
  background-color: #008cba;
  color: white;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 5px;
}

button:nth-child(2) {
  background-color: red;
}
button:hover {
  background-color: #005f6b;
}

.close-icon {
  width: 20px;
  height: 20px;
  font-size: 1.5rem;
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
